* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    display: flex;
    flex-wrap: wrap;
}
/* HEADER */
header
{
    width: 100%;
    height: 10%;
    background-color: rgba(32,33,36,1);
}
header div
{
    width: 100%;
    height: 10%;
    float: right;
    margin: 1rem 5% 1rem 0;
    display: flex;
    align-items: center;
    background-color: rgb(80, 24, 11);
    justify-content: flex-end;
}
header div ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
header div ul a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    margin: 0 1rem 0 1rem;
}
.menu {
    width: 2rem;
    height: 2rem;
}
.user {
    width: 3.2rem;
    height: 3.2rem;
}

/* MAIN */
main
{
    width: 100%;
    height: 80%;
    background-color: rgb(17, 17, 19);
}
main div .container {
    background-color: blue;
}
main div picture {
    display: flex;
    justify-content: center;
}
main div picture img{
    width: 25rem;
}
section
{
    width: 100%;
    height: 5%;
    background-color: rgba(32,33,36,1);
}
footer
{
    width: 100%;
    height: 5%;
    background-color: rgb(17, 17, 19);
}